@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

html, body {
  height: 100%;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  color: #222;
}
.navbar {
  padding: .8rem;
  background-color: #FBF3E2;
}
.navbar-toggler{
  border-color: rgb(105, 97, 83);
  text-decoration-color: rgb(105, 97, 83);
}
/* .navbar-brand img {
  filter: invert(93%) sepia(0%) saturate(7472%) hue-rotate(108deg) brightness(107%) contrast(400%);
} */

.navbar-nav li {
  padding-right: 20px;
}
.nav-link {
  font-size: 1.1em !important;
  color: rgb(105, 97, 83);
}
.nav-link:hover {
  font-size: 1.1em !important;
  color: rgb(175, 135, 35);
}
.carousel-inner img {
  width: 100%;
  height: 878px;
}

.carousel-caption {
  position: absolute;
  top: 60%;
  transform: translateY(-50%);
}
.carousel-caption h1 {
  font-size: 500%;
  text-transform: uppercase;
  text-shadow: 1px 1px 15px #fff;
  color: #000;
}
.carousel-caption h3 {
  font-size: 200%;
  font-weight: 500;
  text-shadow: 1px 1px 10px #fff;
  padding-bottom: 1rem;
  color: #000;
}
/* .btn-primary {
  background-color: #6648b1;
  border: 1px solid #6648b1;;
}
.btn-primary:hover {
  background-color: #563d7c;
  border: 1px solid #563d7c;
} */
.jumbotron {
  padding: 1rem;
  border-radius: 0;
  background-color: #343a40;
}
.jumbotron p {
  color: #fff;
}
/* .jumbotron .btn {
  border-color: #fff;
}
.jumbotron a .btn {
  color: #fff;
} */
.padding {
  padding-bottom: 2rem;
}
.welcome {
  width: 75%;
  margin: 0 auto;
  padding-top: 2rem;
}
.welcome hr {
  border-top: 2px solid #b4b4b4;
  width: 95%;
  margin-top: .3rem;
  margin-bottom: 1rem;
}
.fa-code {
  color: #e54d26;
}
.fa-bold {
  color: #563d7c;
}
.fa-css3 {
  color: #2163af;
}
.fa-code, .fa-bold, .fa-css3 {
  font-size: 4em;
  margin: 1rem;
}
/* .maskot {
  width: 100%;
  margin-bottom: 2rem;
  background-color: #a71414;
  color: #fff;
}
.maskot:hover {
  background-color: #222;
}
.hokuchan {
  max-width: 100%;
} */
.social a {
  font-size: 4.5em;
  padding: 3rem;
}
.fa-facebook {
  color: #3d5998;
}
.fa-twitter {
  color: #00eced;
}
.fa-google-plus-g {
  color: #dd4b39;
}
.fa-instagram {
  color: #517fa4;
}
.fa-youtube {
  color: #bb0000;
}
.fa-facebook:hover, 
.fa-twitter:hover, 
.fa-google-plus-g:hover,
.fa-instagram:hover,
.fa-youtube:hover {
  color: #d5d5d5;
}
footer {
  background-color: #FBF3E2;
  color: rgb(105, 97, 83);
  padding-top: 2rem;
}
hr.light {
  border-top: 1px solid #9B8C74;
  width: 75%;
  margin-top: .8rem;
  margin-bottom: 1rem;
}
footer a {
  color: rgb(105, 97, 83);
}
footer a:hover {
  color: rgb(175, 135, 35);
  text-decoration: none;
}
hr.light-100 {
  border-top: 1px solid #6A5727;
  width: 100%;
  margin-top: .8rem;
  margin-bottom: 1rem;
}
.img-tentang {
  width: 100%;
  height: 100%;
}
/* audio, #playlist { 
  display:none;
} */
/* SVG CSS START */
svg {
	display: inline-block;
	width: 50px;
  z-index: 100;
  transform-origin: 50% 50%;
}
.livechat {
  position: fixed;
  z-index: 4;
  bottom: 0;
  right: 0;
  height: 50px;
  background-color: #d9dfe4;
  margin-bottom: 0.7em;
  margin-right: 0.7em;
  border-radius: 7%;
  border-style: solid;
  border-color: rgb(0, 0, 0);
}
.livechat span {
  margin:0px 10px 0px 10px;
}
.livechat a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #343a40;
}
.livechat a:hover {
  color: rgb(155, 155, 155);
}

/* SVG RULES */

.hand, 
.hand-double, 
.hand-flick, 
.hand-hold, 
.hand-rock, 
.hand-tap, 
.hand-x, 
.hand-y {
	fill: #fff;
	stroke: #000;
	stroke-width: 3px;
	stroke-linecap: round;
	stroke-linejoin: round;
}

.arrow-down, 
.arrow-head, 
.arrow-left, 
.arrow-right, 
.arrow-up, 
.arrow-up-1, 
.arrow-up-2, 
.arrow-up-3,   
.hold-1,
.hold-2, 
.line-horizontal, 
.line-rotate, 
.line-vertical, 
.notes, 
.tap-1, 
.tap-2 {
	fill: transparent;
	stroke: #000;
	stroke-width: 3px;
	stroke-linecap: round;
	stroke-linejoin: round;
}

.arrow-up-2, 
.hold-1, 
.tap-1 {
	opacity: .5;
}

.arrow-up-1, 
.hold-2, 
.tap-2 {
	opacity: .25;
}

.arrow-up-3, 
.swipe-horizontal, 
.swipe-rotate, 
.swipe-vertical {
	opacity: .75;
}

.hold-1, 
.hold-2, 
.notes {
	opacity: 0;
}

/* ANIMATION KEYFRAMES */

@keyframes tap-double {
	0% {
		transform: rotateX(0deg);
	}
	10% {
		transform: rotateX(12.5deg);
	}
	25% {
		transform: rotateX(25deg);
	}
	35% {
		transform: rotateX(10deg);
	}
	50% {
		transform: rotateX(25deg);
	}
}

@keyframes tap {
	0% {
		transform: rotateX(0deg);
	}
	10% {
		transform: rotateX(12.5deg);
	}
	25% {
		transform: rotateX(25deg);
	}
}

@keyframes tap-circle {
	0% {
		transform: scale(0);
		opacity: 0;
	}
	75% {
		transform: scale(1.05);
		opacity: .6;
	}
	80% {
		transform: scale(1);
		opacity: .5;
	}
}

@keyframes hold {
	0% {
		transform: rotateX(0deg);
	}
	10% {
		transform: rotateX(12.5deg);
	}
	30% {
		transform: rotateX(25deg);
	}
	80% {
		transform: rotateX(25deg);
	}
}

@keyframes fade {
	0% {
		opacity: 0;
	}
	30% {
		opacity: .75
	}
	80% {
		opacity: .75;
	}
}

@keyframes swipe-x {
	0% {
		transform: translateX(0px);
	}
	25% {
		transform: translateX(50px) rotateZ(10deg);
	}
	50% {
		transform: translateX(0px);
	}
	75% {
		transform: translateX(-50px) rotateZ(-10deg);
	}
}

@keyframes swipe-y {
	0% {
		transform: translateY(0px);
	}
	25% {
		transform: translateY(50px) rotateZ(-10deg);
	}
	50% {
		transform: translateY(0px);
	}
	75% {
		transform: translateY(-50px) rotateZ(10deg);
	}
}

@keyframes flick-fade {
	0% {
		opacity: 0;
	}
	25% {
		opacity: 1;
	}
}

@keyframes flick {
	0% {
		transform: rotateZ(0deg);
	}
	10% {
		transform: translateY(-12px) rotateZ(50deg);
	}
	25% {
		transform: rotateZ(5deg);
	}
}

@keyframes spin {
	0% {
		transform: rotateZ(0deg);
	}
	10% {
		transform: translateY(-10deg) rotateZ(-20deg);
	}
	50% {
		transform: rotateZ(45deg);
	}
}

@keyframes rock-on {
	0% {
		transform: scale(1);
	}
	25% {
		transform: scale(1.1);
	}
	50% {
		transform: scale(1);
	}
	75% {
		transform: scale(1.1);
	}
}

@keyframes note {
	0% {
		transform: scale(0) rotateZ(0deg);
		opacity: 0;
	}
	20% {
		transform: scale(1.1) rotateZ(10deg);
	}
	40% {
		transform: scale(0.9) rotateZ(-10deg);
	}
	50% {
		opacity: .75;
	}
	60% {
		transform: scale(1.1) rotateZ(10deg);
	}
	80% {
		transform: scale(0.9) rotateZ(-10deg);
	}
}

.hand {
	transform-origin: 25% 50%;
}

.hand-tap {
	animation: tap 1.25s ease-out backwards;
	animation-iteration-count:infinite;
}

.hand-double {
	animation: tap-double 1.25s ease-out backwards;
	animation-iteration-count:infinite;
}

.tap-1,
.tap-2 {
	animation: tap-circle 1.25s ease-out backwards;
  animation-iteration-count:infinite;
  transform-origin: 50% 50%;
  
}

.hand-hold {
	animation: hold 1.25s ease-out backwards;
	animation-iteration-count:infinite;
}

.hold-1, .hold-2 {
	animation: fade 1.25s ease-in backwards;
	animation-iteration-count:infinite;
}

.tap-2 {
	animation-delay: 0.2s;
}

.hand-x {
	animation: swipe-x 1.25s ease-in-out backwards;
	animation-iteration-count:infinite;
}

.hand-y {
	animation: swipe-y 1.25s ease-in-out backwards;
	animation-iteration-count:infinite;
}
 
.hand-flick {
	animation: flick 1.25s ease-out backwards;
	animation-iteration-count:infinite;
}

.arrows {
	opacity: 0;
	animation: flick-fade 1.25s ease-out backwards;
	animation-iteration-count:infinite;
}

.hand, 
.swipe-rotate {
	animation: spin 1.25s ease-in-out backwards;
	animation-iteration-count:infinite;
}

.hand-rock {
	animation: rock-on 1.25s ease-out backwards;
	animation-iteration-count:infinite;
}

.notes {
	animation: note 1.25s ease-out backwards;
	animation-iteration-count:infinite;
}

/*END of SVG ANIMATION */


/* footer img {
  filter: invert(93%) sepia(0%) saturate(7472%) hue-rotate(108deg) brightness(107%) contrast(400%);
} */

#UnderConstruction {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/*---Media Queries --*/
@media (max-width: 992px) {
  .carousel-inner img {
    width: 100%;
    height: 678px;
  }
  .social a {
    font-size: 4em;
    padding: 2rem;
  }
}
@media (max-width: 768px) {
  .carousel-inner img {
    width: 100%;
    height: 478px;
  }
  .carousel-caption {
    top: 55%;
  }
  .carousel-caption h1 {
    font-size: 350%;
  }
  .carousel-caption h3 {
    font-size: 140%;
    font-weight: 400;
    padding-bottom: .2rem;
  }
  .carousel-caption .btn {
    font-size: 95%;
    padding: 8px 14px;
  }
  .display-4 {
    font-size: 200%;
  }
  .social a {
    font-size: 2.5em;
    padding: 1.2rem;
  }
}
@media (max-width: 576px) {
  .carousel-inner img {
    width: 100%;
    height: 278px;
  }
  .carousel-caption {
    top: 50%;
  }
  .carousel-caption h1 {
    font-size: 250%;
  }
  .carousel-caption h3 {
    font-size: 110%;
  }
  .carousel-caption .btn {
    font-size: 90%;
    padding: 4px 8px;
  }
  .carousel-indicators {
    display: none;
  }
  .display-4 {
    font-size: 160%;
  }
  .social a {
    font-size: 2em;
    padding: .7rem;
  }
}


/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
/*--- Fixed Background Image --*/
figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0!important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#fixed {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}
/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}





/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/








